@{
    Layout = null;
}

<!DOCTYPE html>


<body>
    <div>
        @Html.Partial("~/Views/AdminPartial.cshtml");
        <div class="col-lg-5" style="font-size:20px; padding-top:10% ;color:white;padding-right:0.5%">
            <p style="font-size:35px">About</p>
            <ul>

                <li>This is an Online Exam Portal</li>
                <li>Taken as a term project in EAD (Enterprise Application Development)</li>
                <li>Developed Under the consultancy of Sir Bilal Javed Iqbal</li>

            </ul>
        </div>
    </div>
</body>

