@{
    Layout = null;
}

<!DOCTYPE html>
@using OnlineExamPortalBasic.Models
@model OnlineExamPortalBasic.Models.Subject

<body>
    <div>
        @Html.Partial("~/Views/AdminPartial.cshtml");
        <br />
        <br />
        <br />
        <br /><br />
<br /><br />
<br /><br />
<br />
        <div class="col-lg-3"></div>
        

        <div class="col-lg-4" style="color:slategray">
            @using (Html.BeginForm("SubjectAdded", "Admin", FormMethod.Post))
            {
                @Html.LabelFor(m => m.SubjectName, "Subject Name")<br />
                <br />
                @Html.TextBoxFor(m => m.SubjectName)
    <br />
    <br />
                <div class="col-lg-9">
                    <input type="submit" value="Add" name="addbtn" class="btn btn-lg btn-primary " style="border:solid;height:40px;width:150px" />
                </div>
            }
        </div>
    </div>

</body>
