@{
    Layout = null;
}

<!DOCTYPE html>


<body>
    <div>
        @Html.Partial("~/Views/AdminPartial.cshtml");
    </div>
    <div class="col-lg-5" style="font-size:20px; padding-top:10% ;color:white;padding-right:0.5%">
        <p style="font-size:35px">Contact</p>
        <ul>

            <li>This Web Application was developed by Muhammad Junaud Tariq - BITF12M002</li>
            <li>You can contact me on  <a style="color:cyan" href="www.facebook.com/jsonukhan">Facebook</a></li>
            <li>Contact Number +92-342-3266669</li>

        </ul>
    </div>
</body>

