@{
    Layout = null;
}




<body>
    @Html.Partial("~/Views/AdminPartial.cshtml");
    <div>
        <input type="text" id="search" /><br/>
        <input type="button" id="click" value="Search" onclick="find()" />
    </div>
    <div id="frd">
        
    </div>
    <script>
        function find() {


            var name = $('#search').val();
            $('search').val("")
            //  alert("comment1" + description);
            $.post("/Admin/find", { Name: name })
         .done(function (data) {

             $('#frd').html(data);
         });
        }
    </script>
</body>
