@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<body>
    <div>
        @{

            <div style="background-color:white; opacity:1.0;" class="col-lg-2">
                <br />

                <br />

                <ul class="nav navbar">
                    @{
                        int count = 0;
                        foreach (var x in ViewBag.Subjects)
                        {
                            if (count % 2 == 0)
                            {
                                <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-right">@x.SubjectName</a></li>
                            }
                            if (count % 2 == 1)
                            {
                                <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-left">@x.SubjectName</a></li>
                            }
                            count++;
                        }
                    }


                </ul>
            </div>
        }

    </div>

    <div class="col-lg-5" style="font-size:20px; padding-top:10% ;color:white;padding-right:0.5%">
        <p style="font-size:35px">Contact</p>
        <ul>

            <li>This Web Application was developed by Muhammad Junaud Tariq - BITF12M002</li>
            <li>You can contact me on  <a style="color:cyan" href="www.facebook.com/jsonukhan">Facebook</a></li>
            <li>Contact Number +92-342-3266669</li>

        </ul>
    </div>

</body>

