@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

@using OnlineExamPortalBasic.Models;
@model List<OnlineExamPortalBasic.Models.Subject>


<body>
    <div>

        @{

            <div style="background-color:white; opacity:1.0;" class="col-lg-2">
                <br />

                <br />

                <ul class="nav navbar">
                    @{
                        int count = 0;
                        foreach (var x in ViewBag.Subjects)
                        {
                            if (count % 2 == 0)
                            {
                                <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-right">@x.SubjectName</a></li>
                            }
                            if (count % 2 == 1)
                            {
                                <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-left">@x.SubjectName</a></li>
                            }
                            count++;
                        }
                    }


                </ul>
            </div>
        }


        
    </div>
    @{
        <div class="col-lg-3" style="margin-top:20%;margin-left:20%">
            <p style="font-size:20px; color:white"> Mostly given quiz is  @Model.ElementAt(0).SubjectName</p>
            
            <a href="/User/Computer9/@Model.ElementAt(0).Id" class="btn btn-primary"style="margin-left:25%" >Take That Quiz</a>
        </div>
    }
</body>
