@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using OnlineExamPortalBasic.Models
@model IEnumerable<note>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notes</title>
</head>
<body>
    @{

        <div style="background-color:white; opacity:1.0;" class="col-lg-2">
            <br />

            <br />

            <ul class="nav navbar">
                @{
                    int count = 0;
                    foreach (var x in ViewBag.Subjects)
                    {
                        if (count % 2 == 0)
                        {
                            <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-right">@x.SubjectName</a></li>
                        }
                        if (count % 2 == 1)
                        {
                            <li><a href="/User/Computer9/@x.Id" style="font-family:'Lucida Handwriting'; color:black;" class="hvr-bounce-to-left">@x.SubjectName</a></li>
                        }
                        count++;
                    }
                }


            </ul>
        </div>
    }
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        @foreach (note n in Model)
        {
            <div>
                <br />
                <a href="/Content/notes/@n.path" class="fancybox"><img src="/Content/notes/@n.path" style="max-height:30%;max-width:50%" /></a>
</div>
        }
    </div>
</body>
</html>
